<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/about">About us<span class="sr-only">(current)</span></a></li>
        <li><a href="/contact">Contact us</a></li>
      </ul>
</nav>
</div>
  <br/>
  <div class="jumbotron">
  <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit turpis eu nisl mollis eleifend. Nulla ultrices venenatis elit non ultricies. Suspendisse vulputate nunc odio, faucibus rhoncus ante gravida ac. Nulla consectetur vulputate turpis eu interdum. Sed placerat ullamcorper tincidunt. Vivamus varius, sem tristique vestibulum consequat, libero ligula volutpat lorem, at faucibus ante mauris id nibh. Vestibulum id condimentum ligula.

Duis ut enim sodales, pulvinar dui id, aliquam enim. Duis porta risus leo, ac vehicula ex fermentum ullamcorper. In consectetur, arcu at congue auctor, mi metus tempor urna, non pellentesque arcu diam non quam. Aenean ligula diam, faucibus rhoncus arcu ut, consectetur varius mi. Duis vehicula velit dolor, ac condimentum sapien tristique in. Nunc placerat dui eu quam malesuada placerat. Donec sagittis est sed arcu congue gravida. Pellentesque in enim semper, facilisis libero vulputate, congue enim. Suspendisse erat enim, rhoncus ac tincidunt id, gravida quis nulla. Proin tempus sapien non urna malesuada, a commodo nibh hendrerit. Aliquam gravida tempor mi, vitae dignissim diam maximus eu. Suspendisse in mi a massa lobortis viverra. Etiam a viverra tellus, eu vehicula nulla. Proin interdum, nulla non tincidunt cursus, nulla lorem tempus lorem, et malesuada elit sapien quis augue. Nulla at viverra tortor. Pellentesque lacinia nisl eget elementum pretium.

Cras odio lorem, placerat eu ligula venenatis, laoreet scelerisque neque. Vivamus porta mi ligula, quis aliquet enim bibendum ultrices. Vivamus nec laoreet sapien, non pretium velit. Morbi nec justo et tortor ultrices dignissim. Ut nibh lacus, pretium in luctus non, consectetur id turpis. Donec a lacus quis eros porttitor maximus ac eget arcu. In pharetra molestie massa, vel auctor metus pulvinar ut. Phasellus mattis tortor eu magna ornare, non feugiat turpis cursus. Maecenas efficitur rutrum nulla, sed mollis tortor.

Vivamus pretium eu purus at fringilla. Ut lacinia ligula nisi, ac varius ipsum sollicitudin nec. Etiam tellus quam, viverra vitae felis semper, hendrerit efficitur est. Integer in ante eu odio mollis dapibus at ut mi. In mi odio, euismod eget nunc vitae, malesuada gravida nisi. Cras dictum finibus sapien a sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras bibendum, ante ut consectetur vestibulum, odio dui tristique velit, ut cursus dolor nibh sed mi. Etiam elementum magna interdum felis porttitor facilisis. Aenean placerat ullamcorper elementum. Proin dictum ultrices ante, vitae gravida tortor laoreet quis. Pellentesque vel dictum libero, ac viverra sapien.

Donec ac tellus vulputate, luctus elit tincidunt, aliquam enim. Nulla quis eleifend metus. Etiam maximus, massa et posuere posuere, ante felis mattis nisl, at euismod lorem dui id orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi venenatis dolor in augue pellentesque, ut venenatis nisi tempor. Proin dignissim orci et nunc lobortis imperdiet. Donec feugiat felis magna, tempus consectetur purus molestie pulvinar. Vestibulum vitae dui nec magna lacinia pretium a vitae enim. Nulla eu purus arcu.
  </p>
</div>
  </div>
</body>
</html>