<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Lab2: Create express server</title>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
</div>
<br/>
<div class=row>
    <div class="col-md-5"></div>
    <div class="col-md-4"><h1>Express server</h1></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
<div class="col-md-6"> 
<img  src="../images/welcome.gif">
</div>
<div class="col-md-4"><img  src="../images/hi.gif"></div>
</div>
</div>
</body>
</html>
